### Maven ###
target/
!.mvn/wrapper/maven-wrapper.jar
!**/src/main/**/target/
!**/src/test/**/target/

### Build ###
build/
!**/src/main/**/build/
!**/src/test/**/build/

### Logs ###
*.log

### OS files ###
.DS_Store
Thumbs.db

### STS/Eclipse ###
.apt_generated
.classpath
.factorypath
.project
.settings/
.springBeans
.sts4-cache

### IntelliJ IDEA ###
.idea/
*.iws
*.iml
*.ipr
out/

### NetBeans ###
/nbproject/private/
/nbbuild

*.db
*.mv.db
*.trace.db
*.h2.db
*.mv.db.lock.db